@{
    ViewBag.Title = "Прием граждан";
} 

<div> 
   @*<h4>Должностные лица Администрации города</h4>*@
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Попов Дмитрий Валерьевич</strong>&nbsp;&nbsp;Глава города</h4>
        </div>
        <div class="panel-body" align="justify">
            Высшее должностное лицо местного самоуправления городского округа, наделенное в соответствии со статьями 34 и 35 Устава городского округа город Сургут ХМАО-Югры собственными полномочиями
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Алешкова Наталья Павловна</strong>&nbsp;&nbsp;заместитель главы Администрации города</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы кадров и муниципальной службы, правового и общего обеспечения деятельности Администрации города, ЗАГСа, архива, наград, деятельности муниципальных казенных учреждений "Наш город" и "Дворец торжеств"
        </div>
    </div>
   <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Шатунов Александр Александрович</strong>&nbsp;&nbsp;заместитель главы Администрации города</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы имущественных, земельных отношений, архитектуры и градостроительства
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Лапин Олег Михайлович</strong>&nbsp;&nbsp;заместитель главы Администрации города</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы гражданской обороны и чрезвычайных ситуаций, общественной безопасности
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Пелевин Александр Рудольфович</strong>&nbsp;&nbsp;заместитель главы Администрации города</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы образования, культуры, опеки и попечительства
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Базаров Владимир Васильевич</strong>&nbsp;&nbsp;заместитель главы Администрации города</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы городского хозяйства, природопользования и экологии, жилищной сферы
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Фокеев Алексей Александрович</strong>&nbsp;&nbsp;директор департамента архитектуры и градостроительства</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы разработки генеральных планов, правил землепользования и застройки; строительства муниципального жилищного фонда, объектов социального и культурного назначения; выдачи разрешений на установку, предписаний на демонтаж рекламных конструкций; организации финансирования и со финансирования капитального строительства объектов социального, культурного, инженерного, транспортного, жилищного назначения, капитального ремонта объектов социального назначения; выдачи разрешений на строительство и ввод объектов в эксплуатацию.
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Кочетков Вадим Владимирович</strong>&nbsp;&nbsp;директор департамента городского хозяйства</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы управления муниципальным и бесхозяйным жилищным фондом; создания условий для управления многоквартирными домами; предоставления транспортных услуг населению и организации транспортного обслуживания населения в границах городского округа; отлова и содержания бесхозяйных животных; благоустройства территории городского округа; сбора, вывоза бытовых отходов жилищного фонда; организации в границах городского округа электро-, тепло-, газо- и водоснабжения населения, водоотведения; обустройства мест отдыха населения; организации ритуальных услуг и содержания мест захоронения; переселения жителей города из аварийных домов и жилых помещений, непригодных для проживания; содержания, ремонта и капитального ремонта автомобильных дорог местного значения; обеспечения функционирования парковок (парковочных мест).
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Османкина Татьяна Николаевна</strong>&nbsp;&nbsp;директор департамента образования</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы образования, отдыха детей в каникулярное время, работы с детьми и молодежью, обеспечения прав детей-инвалидов на воспитание, обучение и образование, выплаты компенсации родительской платы за содержание детей в образовательных организациях, реализующих основную общеобразовательную программу дошкольного образования.
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Клочков Вадим Дмитриевич</strong>&nbsp;&nbsp;директор департамента имущественных и земельных отношений</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы владения, пользования и распоряжения муниципальным имуществом; осуществления земельного контроля. предоставления субсидий из местного бюджета на возмещение затрат по производству (выпуску) и реализации продукции животноводства, растениеводства, рыбной продукции; поддержки сельскохозяйственного производства.
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Грищенкова Галина Романовна</strong>&nbsp;&nbsp;директор департамента культуры, молодёжной политики и спорта</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы библиотечного обслуживания населения; сохранения, использования и популяризации объектов культурного наследия; организации досуга и культуры; развития: местного традиционного народного художественного творчества; физической культуры и массового спорта; работы с детьми и молодежью в городском округе; предоставления дополнительного образования детей; массового отдыха жителей; развития туризма.
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Собко Екатерина Анатольевна</strong>&nbsp;&nbsp;председатель комитета по опеке и попечительству</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы установления опеки над недееспособными; назначения опекунского пособия; семейных форм устройства детей-сирот; приемных семей; связи образовательных учреждений с институтами опекунства; патроната; усыновления; лишения родительских прав; обеспечения жильем: детей-сирот и детей, оставшихся без попечения родителей, детей-сирот и детей, оставшихся без попечения родителей, по решению суда.
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Анохин Андрей Семенович</strong>&nbsp;&nbsp;начальник управления по природопользованию и экологии</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы организации мероприятий по охране окружающей среды; использования, охраны, защиты, воспроизводства городских лесов, лесов особо охраняемых природных территорий; использования водных объектов общего пользования для личных и бытовых нужд, регулирования отношений недропользования; благоустройства и озеленения; сбора, вывоза, утилизации и переработки бытовых и промышленных отходов; создания условий для массового отдыха и организации благоустройства мест массового отдыха населения
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Шевченко Алла Юрьевна</strong>&nbsp;&nbsp;начальник управления учета и распределения жилья</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы обеспечения малоимущих граждан, проживающих в городском округе и нуждающихся в улучшении жилищных условий, жилыми помещениями в соответствии с жилищным законодательством, а также предоставления в установленном порядке субсидий для строительства или приобретения жилья.
        </div>
    </div>
    <!---->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>Королева Юлия Геннадьевна</strong>&nbsp;&nbsp;директор департамента по экономической политике</h4>
        </div>
        <div class="panel-body" align="justify">
            Вопросы стратегического развития, ценообразования, проверки правильности платы за жилищно-коммунальные услуги для населения города; формирования и размещения муниципального заказа; социально-трудовых отношений и охраны труда; развития потребительского рынка и защиты прав потребителей; развития предпринимательства и лицензирования.
        </div>
    </div>
</div>

