@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="~/Content/Bootstrap/js/jquery-3.2.1.min.js"></script>
    @*<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <link href="~/Content/Bootstrap/css/bootstrap.min-3.3.7.css" rel="stylesheet" />
    <script src="~/Content/Bootstrap/js/bootstrap.min-3.3.7.js"></script>
    <link href="~/Content/Bootstrap/css/default/style.min.css" rel="stylesheet" />
    <script src="~/Content/Bootstrap/js/jstree.min.js"></script>
<style>
    #Code {
        display: none;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        top: 0px;
        position: absolute;
    }

    body, html {
        height: 100%;
    }

    #staticpanel {
    background:#F8F8F8 none repeat scroll 0 0;
    border-top:1px solid #ccc;
    bottom:0;
    padding:0px 0;
    position:fixed;
    width:100%;
    z-index:100;
}
    /*div {
        position: absolute;
        right: 0px;
        background: #ccc;
        width: 200px;
        height: 500px;
       
    }*/
    /*.right {
        position: absolute;
        right: 0px;
        width: 300px;
        border: 3px solid #73AD21;
        padding: 10px;
    }*/


    /* DivTable.com */
    .divTable {
        display: table;
        width: 100%;
        height: 100%;
    }

    .divTableRow {
        display: table-row;
        height: 100%;
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
    }

    .divTableCell, .divTableHead {
        border: 1px solid #999999;
        display: table-cell;
        /*padding: 3px 10px;*/      
    }

    .divTableHeading {
        background-color: #EEE;
        display: table-header-group;
        font-weight: bold;
    }

    .divTableFoot {
        background-color: #EEE;
        display: table-footer-group;
        font-weight: bold;
    }

    .divTableBody {
        display: table-row-group;
    }

</style>
</head>
    <body>
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell"><div id="Content"></div></div>
                    <div class="divTableCell" style="width:200px; background: #F8F8F8"><div id="jstreeMenu"></div></div>
                </div>
            </div>
        </div>
        
        <div id="Code">
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell" style="background: #F8F8F8"><div id="ContentCode"></div></div>
                        <div class="divTableCell" style="width:200px; background: #F8F8F8"><div id="jstreeMenuCode"></div></div>
                    </div>
                </div>
            </div>
         </div>

<script>
   
    //$('#jstreeContent').jstree({
    //    "plugins": [
    //        "themes", "json_data"
    //    ],
    //    "core": {
    //        "data": {
    //            "url": "/Main/GetMenu", // получаем наш JSON
    //            "type": "GET",
    //            "dataType": "json"

    //        },
    //    },
    //});

    $('#jstreeMenu').jstree();
    $('#jstreeMenuCode').jstree();

  

$(document).on('keypress', function (e) {
    if (e.which === 119) $("#Code").toggle();//"slide", { direction: "right" },200);
    });
    

    

function API()
{
    var api = {};
    api.ajax = function (url, type, data) {
        return $.ajax({
            url: url,
            type: type,
            data: data,
            dataType: 'json'
        });
    }

    api.GetMenu = function () {
        var url = "/Main/GetMenu";
        var data = {};
        return this.ajax(url, "GET", data);
    }

    api.GetContent = function (id) {
        var url = "/Main/GetContent"
        var data = {id: id};
        return this.ajax(url,"GET", data);
    }

    api.GetMenuCode = function (codeId) {
        var url = '/Main/GetMenuCode';
        var data = { codeId: codeId };
        return this.ajax(url, 'GET', data);
    }

    api.GetContentCode = function (id) {
        var url = '/Main/GetContentCode';
        var data = { id: id };
        return this.ajax(url, 'GET', data);
    }

    return api;
}

    var api = new API();
    
    api.GetMenu().done(function (data) {
        $('#jstreeMenu').jstree(true).settings.core.data = data;
        $('#jstreeMenu').jstree(true).refresh();
    });
    
    $('#jstreeMenu').on("changed.jstree", function (event, dataMenu) {//для того чтобы редиректело

        if (dataMenu.selected[0] == null) return;
        api.GetContent(dataMenu.selected[0]).done(function (dataContent) {
            console.log(dataContent);
            document.getElementById("Content").innerHTML = dataContent['content'];

            api.GetMenuCode(dataContent['codeId']).done(function (dataMenuCode) {
                $('#jstreeMenuCode').jstree(true).settings.core.data = dataMenuCode;
                $('#jstreeMenuCode').jstree(true).refresh();
            });
        });
    });

    $('#jstreeMenuCode').on("changed.jstree", function (event, data) {

        if (data.selected[0] == null) return;
        api.GetContentCode(data.selected[0]).done(function (dataContentCode) {
            console.log(dataContentCode);
            document.getElementById("ContentCode").innerHTML = dataContentCode['contentCode'];
        });

    });

</script>
</body>
</html>

