@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="~/Content/Bootstrap/js/jquery-3.2.1.min.js"></script>
    @*<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <link href="~/Content/Bootstrap/css/bootstrap.min-3.3.7.css" rel="stylesheet" />
    <script src="~/Content/Bootstrap/js/bootstrap.min-3.3.7.js"></script>
    <link href="~/Content/Bootstrap/css/default/style.min.css" rel="stylesheet" />
    <script src="~/Content/Bootstrap/js/jstree.min.js"></script>
<style>
    #jstree {
        width: inherit;
        height: 100%;
        margin: 0;
        padding: 0;
        box-shadow: -3px 0px 0px 0px rgba(0,0,0,0.34);
        -webkit-box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.34);
        -moz-box-shadow: -3px 0px 10px 0px rgba(0,0,0,0.34);
    }

    #staticpanel {
    background:#F8F8F8 none repeat scroll 0 0;
    border-top:1px solid #ccc;
    bottom:0;
    padding:0px 0;
    position:fixed;
    width:100%;
    z-index:100;
}
    /*div {
        position: absolute;
        right: 0px;
        background: #ccc;
        width: 200px;
        height: 500px;
       
    }*/
    /*.right {
        position: absolute;
        right: 0px;
        width: 300px;
        border: 3px solid #73AD21;
        padding: 10px;
    }*/


</style>
</head>
    <body>
        
        
            
        <div style="background: #F8F8F8 ; z-index:5; 
            border-left: 1px solid #ccc; 
            width: 200px; 
            position: absolute; 
            right: 0px" 
             id="jstree">
        @*<div id="jstree">*@
        <ul>
            <li>Root node 1</li>
          
            <li>Root node 2</li>
        </ul>
        </div>
        <div id="Content" stylr="overflow: scroll"></div>

        

            @*@Html.Raw("<div> тест</div> <input type='text'>");*@
<div id="staticpanel">
<table style="width: 100%">
    <tr><td style="width: 30%"></td>
    <td style="width: 40%"><input type="text" td style="width: 100%"></td>
    <td style="width: 30%"></td></tr>
    </table>
</div>

//
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
//
<script>
   
    $('#jstree').jstree({
        "plugins": [
            "themes", "json_data"
        ],
        "core": {
            "data": {
                "url": "/main/getjstree", // получаем наш JSON
                "type": "GET",
                "dataType": "json"

            },

        },
    });

    $('#jstree').on("changed.jstree", function (event, data) {//для того чтобы редиректело

        console.log(data.selected[0]);
        api.GetArticle(data.selected[0]).done(function(data1)
        {
            console.log(data1);
            document.getElementById("Content").innerHTML = data1['html'];
            //$('#Content').innerHTML=data1;
            
        });
        
        
    });

$(document).on('keypress', function (e) {
    if (e.which === 119) $("#jstree").toggle();//"slide", { direction: "right" },200);
    });
    

    

function API()
{
    var api = {};
    api.ajax = function (url, type, data) {
        return $.ajax({
            url: url,
            type: type,
            data: data,
            dataType: 'json'
        });
    }

    api.GetArticle = function (id) {
        var url = "/main/GetArticle"
        var data = {id: id};
        return this.ajax(url,"GET", data);
    }

    return api;
}

    var api = new API();

    //api.GetArticle().done(function(data){
    //    console.log(data);
    //});

</script>
</body>
</html>

